<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /TrabalhoPHP/

    # Redireciona todas as requisições para a pasta public/
    RewriteRule ^$ public/ [L]
    RewriteRule (.*) public/$1 [L]
</IfModule>